@page "/Error"
@using System.Diagnostics

<PageTitle>5BoltAuto - 404 Page Not Found</PageTitle>

<h1 class="text-danger"></h1>
<section id="hero" class="hero text-white d-flex align-items-center">
    <div class="checker-wrapper">
        <div class="px-4 py-5 text-center checker">
            <h1 class="display-5 fw-bold">404 Page Not Found</h1>
        </div>
    </div>
</section>