//https://huemint.com/bootstrap-plus/#palette=d8efee-ffffff-14141f-4e3297-5d5896-3f244a-36e2c2-007e73-a6dfd8
$white: #ffffff;

$theme-colors: (
    "light":      #d8efee,
    "dark":       #14141f,
    "primary":    #4e3297,
    "secondary":  #5d5896,
    "info":       #3f244a,
    "accent1":    #36e2c2,
    "accent2":    #007e73,
    "accent3":    #a6dfd8,
    "success":    #00a965,
    "warning":    #e1cd00,
    "danger":     #f12300,
);
