// https://huemint.com/bootstrap-plus/#palette=ffffff-ffffff-001e5a-141e7a-71a9fb-478afe-2c57a9-6dcdf3-a6def5
$white: #ffffff;

$theme-colors: (
    "light":      #ffffff,
    "dark":       #001e5a,
    "primary":    #141e70,
    "secondary":  #71a9fb,
    "info":       #478afe,
    "accent1":    #2c57a9,
    "accent2":    #6dcdf3,
    "accent3":    #a6def5,
    "success":    #04b66a,
    "warning":    #e6d003,
    "danger":     #f81e01,
);
