@import 'sections/header.scss';
@import 'sections/hero.scss';
@import 'sections/about.scss';
@import 'sections/services.scss';
@import 'sections/testimonials.scss';
@import 'sections/contact.scss';
@import 'sections/contact-form.scss';
@import 'sections/scroll-top.scss';
@import 'sections/footer.scss';
