<section id="address" class="bg-dark text-white fs-6 d-flex align-items-center">
    <div class="mx-auto my-3">
        <a class="link-light link-offset-2 link-underline link-underline-opacity-0" href="http://maps.google.com/maps?q="><span><i class="bi bi-geo-alt-fill"></i> 1346 HWY 7A, L9L 1B5, Ontario, Canada</span></a>
    </div>
</section>
