@using Microsoft.AspNetCore.Components.Forms

<section id="contact" class="contact section">
    <div class="container  px-4">

        <div class="text-center pb-5">
            <h2>Contact</h2>
        </div>

        <div class="row gy-4 pb-5 justify-content-center">

            <div class="col-12 col-lg-3">
                <div class="info-item">
                    <h3><i class="bi bi-telephone pe-2"></i>Text or Call</h3>
                    <address><a href="sms:(289)385-6951">(289)385-6951</a></address>
                </div>
            </div>

            <div class="col-12 col-lg-3">
                <div class="info-item">
                    <h3><i class="bi bi-envelope pe-2"></i>Email</h3>
                    <address><a href="mailto:fiveboltauto@outlook.com">fiveboltauto@outlook.com</a></address>
                    @* <form id="contact-form" method="post" action="TODO" class="contact-form">
                        <div class="row gy-4">
                            <div class="col-md-6">
                                <input id="name" name="name" type="text" class="form-control" placeholder="Your Name"
                                    required />
                            </div>

                            <div class="col-md-6">
                                <input id="email" name="email" type="email" class="form-control"
                                    placeholder="Your Email" required />
                            </div>

                            <div class="col-12">
                                <textarea id="message" name="message" class="form-control" rows="6"
                                    placeholder="Message" required />
                            </div>

                            <div class="col-12 text-center">
                                <div class="loading" hidden>Loading</div>
                                <div class="error-message" hidden>Error sending message.</div>
                                <div class="sent-message" hidden>Your message has been sent. Thank you!</div>

                                <button type="submit">Send Message</button>
                            </div>
                        </div>
                    </form> *@
                </div>



            </div>

            <div class="col-12 col-lg-3">
                <div class="info-item">
                    <h3><i class="bi bi-geo-alt pe-2"></i>Address</h3>
                    <address>1346 HWY 7A, Port Perry, L9L 1B5, Ontario, Canada</address>
                </div>
            </div>
        </div>
    </div>
</section>
