<section id="services" class="services">
    <div class="container px-4">
        <div class="text-center pb-5">
            <h2>Services</h2>
        </div>

        <div class="align-items-md-center g-5 pb-5">
            <div class="d-flex justify-content-center flex-wrap gap-3">

                <div class="service gap-2 card p-3">
                    <h3 class="fw-semibold mb-0 text-body-emphasis text-center">Diagnostics</h3>
                    <p class="text-body-secondary">We diagnose and for electrical and mechanical diagnosis of
                        suspension, driveline, control modules, wiring, drivability issues and more!</p>
                </div>
                <div class="service gap-2 card p-3">
                    <h3 class="fw-semibold mb-0 text-body-emphasis text-center">Routine Preventative Maintenance</h3>
                    <p class="text-body-secondary">We perform oil changes, tune ups, driveline fluids, timing belts,
                        brake pads and rotors, brake fluid and all your maintenance needs.</p>
                </div>
                <div class="service gap-2 card p-3">
                    <h3 class="fw-semibold mb-0 text-body-emphasis text-center">Alignments</h3>
                    <p class="text-body-secondary">Our state-of-the-art alignment machine ensures precise adjustments
                        for optimal vehicle performance, safety, and tire longevity.</p>
                </div>
                <div class="service gap-2 card p-3">
                    <h3 class="fw-semibold mb-0 text-body-emphasis text-center">Mechanical and Electrical Repairs</h3>
                    <p class="text-body-secondary">We perform wiring harness repairs, suspension and driveline repairs,
                        engine mechanical work, control module replacement, and more.</p>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="brands">
    <div class="container px-4 py-5">
        <div class="py-2 gap-5 text-center">
            <p class="lead">We service every popular automotive brand and specialize with servicing Volkswagen, Audi,
                Jeep, Honda, and Toyota vehicles.</p>
            <div class="mx-auto py-3 justify-content-center">
                <div class="d-flex flex-wrap justify-content-evenly gap-2">
                    <div class=""><img srcset="/bundle/img/brands/vw-192.avif 1.5x, /bundle/img/brands/vw-256.avif 2x"
                            src="/bundle/img/brands/vw-128.avif" height="128" /></div>
                    <div class=""><img
                            srcset="/bundle/img/brands/audi-192.avif 1.5x, /bundle/img/brands/audi-256.avif 2x"
                            src="/bundle/img/brands/audi-128.avif" height="128" /></div>
                    <div class=""><img
                            srcset="/bundle/img/brands/jeep-192.avif 1.5x, /bundle/img/brands/jeep-256.avif 2x"
                            src="/bundle/img/brands/jeep-128.avif" height="128" /></div>
                    <div class=""><img
                            srcset="/bundle/img/brands/honda-192.avif 1.5x, /bundle/img/brands/honda-256.avif 2x"
                            src="/bundle/img/brands/honda-128.avif" height="128" /></div>
                    <div class=""><img
                            srcset="/bundle/img/brands/toyota-192.avif 1.5x, /bundle/img/brands/toyota-256.avif 2x"
                            src="/bundle/img/brands/toyota-128.avif" height="128" /></div>
                </div>
            </div>
        </div>
    </div>
</section>
