<section id="testimonials" class="testimonials">
    <div class="container px-4">
        <div class="text-center pb-5">
            <h2>Testimonials</h2>
        </div>

        <div class="align-items-md-center g-5 pb-5">
            <div class="d-flex justify-content-center">
                <div class="row">
                    <div class="col-xs-6 col-lg-4 gap-2 p-3 d-flex flex-wrap">
                        <img class="rounded-1 mx-auto"
                            srcset="/bundle/img/testimonials/greg-150.avif 1.5x, /bundle/img/testimonials/greg-200.avif 2x"
                            src="/bundle/img/testimonials/greg-100.avif" height="100" />
                        <blockquote class="blockquote">
                            Just came back from having a wheel bearing replaced by Nicholas. Very knowledgeable and
                            meticulous mechanic. Checked the bearing, changed it right away, out in less than an hour. I
                            highly recommend him for any work you need done on your VW. Definitely will be back for any
                            work I need in the future. Check him out for sure !!!
                        </blockquote>
                        <p class="blockquote-footer w-100 text-end">
                            Greg Yates
                        </p>
                    </div>

                    <div class="col-xs-6 col-lg-4 gap-2 p-3 d-flex flex-wrap">
                        <blockquote class="blockquote">
                            We took our Jetta to Nick for servicing. We were far from home and really appreciated that
                            he made room for as at the last minute. He was very pleasant to deal with and we believe his
                            did an excellent job. I recommend dealing with him.
                        </blockquote>
                        <p class="blockquote-footer w-100 text-end">
                            Oliver Reimer
                        </p>
                    </div>

                    <div class="col-xs-6 col-lg-4 gap-2 p-3 d-flex flex-wrap">
                        <img class="rounded-1 mx-auto"
                            srcset="/bundle/img/testimonials/heather-150.avif 1.5x, /bundle/img/testimonials/heather-200.avif 2x"
                            src="/bundle/img/testimonials/heather-100.avif" height="100" />
                        <blockquote class="blockquote">
                            We took our A4 to Nicholas to replace the brakes. He was a pleasure to deal with, did the
                            work promptly and at a reasonable price. He was also great to communicate with through the
                            initial quote request up to and including pick up. I highly recommend his services and we
                            will definitely be returning.
                        </blockquote>
                        <p class="blockquote-footer w-100 text-end">
                            Heather Gifford
                        </p>
                    </div>

                    <div class="col-xs-6 col-lg-4 gap-2 p-3 d-flex flex-wrap">
                        <img class="rounded-1 mx-auto"
                            srcset="/bundle/img/testimonials/graham-150.avif 1.5x, /bundle/img/testimonials/graham-200.avif 2x"
                            src="/bundle/img/testimonials/graham-100.avif" height="100" />
                        <blockquote class="blockquote">
                            5Bolt Automotive has become my dedicated service shop for my Porsche Cayenne.

                            Nick has been a pleasure to deal with over this past summer while servicing my 14 year old
                            and restoring its safe drive ability. From fluid changes, thermostat replacement ,
                            driveshaft replacement and spark plug and valve cover gasket service Nick handled it all
                            drawing from his excellent knowledge of German engineered vehicles.
                        </blockquote>
                        <p class="blockquote-footer w-100 text-end">
                            Graham Davies
                        </p>
                    </div>

                    <div class="col-xs-6 col-lg-4 gap-2 p-3 d-flex flex-wrap">
                        <img class="rounded-1 mx-auto"
                            srcset="/bundle/img/testimonials/andrei-150.avif 1.5x, /bundle/img/testimonials/andrei-200.avif 2x"
                            src="/bundle/img/testimonials/andrei-100.avif" height="100" />
                        <blockquote class="blockquote">
                            Shout out to Nick at 5Bolt Automotive for breathing new life into the 87 Honda Transalp.
                            Thought she was running nicely before, but nothing a teardown and skilled hands can't
                            improve.

                            If you're anywhere in the GTA, I couldn't more highly recommend someone who really knows his
                            shit. Need a savant working on your car, truck, motorcycle, yard equipment, trailers..
                            anything really.. I'd give him a call.
                        </blockquote>
                        <p class="blockquote-footer w-100 text-end">
                            Andrei Stefan
                        </p>
                    </div>

                    <div class="col-xs-6 col-lg-4 gap-2 p-3 d-flex flex-wrap">
                        <blockquote class="blockquote">
                            Just found Nick through word of mouth from a couple neighbours. Had an issue with my vehicle
                            (Diesel Jeep Grand Cherokee) and my husband suggested we bring it to Nick.

                            Brought it to him in the evening and we had it back the next evening.

                            Fixed what we initially brought it in for and looked over a few other issues as well.

                            Had a quote quickly, as well as estimates and pictures for other issues we knew about and a
                            couple we hadn't caught too!

                            Super nice guy, very reasonable, and quick!

                            I hated going to the dealer for service to begin with, now I probably won't have to again!
                        </blockquote>
                        <p class="blockquote-footer w-100 text-end">
                            Tammy Murphy
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>