.hero {
    height: 100vh;
    background:  url('/bundle/img/about/about3.avif');
    //background-image:url('/bundle/img/about/about4.avif');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;

    h1, .subtitle {
        font-family: Audiowide;
    }

    .subtitle {
        font-size: 1.5em;
    }

    p {
        font-weight: 600;
    }

    .text-wrapper {
        background-position:center;
        background-repeat:no-repeat;

        background-image: image-set(
            url('/bundle/img/hero/cog-360.avif') 1x,
            url('/bundle/img/hero/cog-540.avif') 1.5x,
            url('/bundle/img/hero/cog-720.avif') 2x
        );
        height:360px;

        @media (min-width: 576px) {
            background-image: image-set(
                url('/bundle/img/hero/cog-480.avif') 1x,
                url('/bundle/img/hero/cog-720.avif') 1.5x,
                url('/bundle/img/hero/cog-960.avif') 2x
            );
            height:480px;
        }
    }
    
}

.checker {
    width: 100%;
    background-image:
        linear-gradient(45deg, rgba(255, 255, 255, 0.5) 25%, transparent 25%),
        linear-gradient(-45deg, rgba(255, 255, 255, 0.5) 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, rgba(255, 255, 255, 0.5) 75%),
        linear-gradient(-45deg, transparent 75%, rgba(255, 255, 255, 0.5) 75%);
    background-size: 48px 48px;
    background-position: 0 0, 0 24px, 24px -24px, -24px 0px;
}
