/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
.scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;

    i {
        font-size: 24px;
        line-height: 0;
    }

    &.active {
        visibility: visible;
        opacity: 1;
    }
}
